* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #363636;
}

h1 {
    color: #e8e8e8;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}
